/* .customSelect {
  width: auto;
  height: 30px;
  border: 1px solid black;
}

.dropdownList {
  width: auto;
  max-height: 300px;
  overflow-y: auto;
}

.dropdownItem {
  width: auto;
}

.filterTruck {
  width: 1300px;
} */

/* SearchTruckName.module.css */
/* SearchTruckName.module.css */

/* SearchTruckName.module.css */

.customSelect {
  height: 30px;
  border: 1px solid #cccccc;
}

.dropdownList {
  top: 300px;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-top: none;
  list-style-type: none;
  padding: 10px;
}

.dropdownItem {
  padding: 10px;
}

.filterTruck {
  width: 100%;
  height: 30px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 0 auto;
}

.dropdownList {
  max-height: 200px;
  overflow-y: auto;
}
